@import "includes/variables";
@import "includes/mixins";

.main-header {
  h4 {
    font-weight: bolder;
  }
  .feedBak {
    font-size: 15px;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: $radius-1;
  }

  width: 96%;
  height: 40px;
  box-shadow: $shadow-1;
  border-radius: $radius-2;
  margin: 2% auto;
  @include flexCenter(row, space-around, center);
}

.messages-container ul {
  box-shadow: inset 0 0 10px rgb(148, 148, 148) !important;
  width: 96%;
  height: calc(100vh - 170px);
  box-shadow: $shadow-1;
  border-radius: $radius-2;
  overflow: hidden;
  overflow-y: scroll !important;
  margin: 2% auto;
  padding-bottom: 2%;
  @include flexCenter(column, none, center);
  li {
    padding: 5px;
    width: 96%;
    box-shadow: $shadow-1;
    border-radius: $radius-2;
    margin-top: 2%;
    @include flexCenter(column, space-around, center);
    header {
      font-size: 0.9rem;
      width: 100%;
      @include flexCenter(row, space-between, center);
      margin-right: 1%;
    }
    footer {
      @extend header;
      justify-content: end;
      margin-left: 1%;
    }
    main {
      border-radius: $radius-1;
      box-shadow: $shadow-1;
      border-radius: $radius-2;
      padding: 5px;
      margin: 5px;
      overflow: hidden;
      width: 99%;
    }
  }
}

.message-input-container form {
  @extend .main-header;
  justify-content: none;
  overflow: hidden;
  button {
    width: 10%;
    height: 100%;
    font-size: 1.4rem;
    border: none;
    color: white;
    background-color: $blue;
  }
  input {
    width: 90%;
    height: 100%;
    padding: 5px;
    font-size: 1rem;
    border: none;
  }
}

//  Login
#myLoginForm {
  width: 80%;
  margin: 100px auto;
  height: 200px;
  border-radius: $radius-2;
  box-shadow: $shadow-1;
  @include flexCenter(column, space-around, center);
  input {
    width: 80%;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: $radius-2;
    box-shadow: $shadow-1;
    font-size: 1.1rem;
  }
  input[type="submit"] {
    width: 30%;
    background-color: blue;
    color: white;
  }
  input:hover {
    border-right: 5px solid red;
    border-left: 5px solid red;
  }
}
